<br />
SUCCESS!
<br />
<%= link_to "Continue shopping", root_url %> or go back to the <%= link_to "Salt + Sea", "http://www.saltandsea.me" %> homepage.</br>
<p><em>Please note, if you ordered two different seafood shares you will have to go into your <%= link_to 'account settings', :controller => 'home', :action => 'edit_customer', :page => 'my_account' %> and select the combination of shares that you wish to receive. For example, if you ordered a single share of fish and a single share of shellfish, you would edit your share type to "single fish + single shellfish"</em>.</p>